<link rel="stylesheet" href="../bootstrap-grid.css">

<div class="m-3 mt-5">

    <!-- Remote Projects -->


    <!-- Local Projects -->
    <div class="row mb-3 align-items-center">
        <div class="col-6 d-flex align-items-center">
            <div class="card-body">
              <div class="card-body">
                <img width="100%" height="auto" class="img-fluid" src="../assets/misc/soccer.jpg" />
              </div>
                  <div>
                      <p class="card-text">
                      </p>
                  </div>  
            </div>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="card-body">
              <div class="card-body">
                <img width="100%" height="auto" class="img-fluid" src="../assets/misc/tennis.jpg" />
              </div>
                  <div>
                      <p class="card-text">
                      </p>
                  </div>  
            </div>
        </div>
    </div>
    <p>
      I am originally from <a href="https://en.wikipedia.org/wiki/Xi%27an" target="_blank" rel="noopener noreferrer">西安 (Xi'an)</a>, a city with long history, in north-central China. 
      Xi'an, also know as 长安 (Chang'an) in history, was the capital of thirteen Chinese dynasties. There are many historical sites, including the Terracotta Army and the starting point of the Silk Road. 
    </p>
    <p>
      Xi'an is also famous for its diverse and delicious wheat-based food. 
      Making from scratch and enjoying hometown food is one of the most fulfilling activities for me, both mentally and physically.
    </p>

    <div class="row mb-3 align-items-center">
      <div class="col-6 d-flex align-items-center">
          <div class="card-body">
            <div class="card-body">
              <img width="100%" height="auto" class="img-fluid" src="../assets/misc/shuipen.jpg" />
            </div>
                <div>
                    <p class="card-text">
                      <a href="https://en.wikipedia.org/wiki/Paomo" target="_blank" rel="noopener noreferrer">泡馍 (Paomo)</a>  
                    </p>
                </div>  
          </div>
      </div>
      <div class="col-6 d-flex align-items-center">
          <div class="card-body">
            <div class="card-body">
              <img width="100%" height="auto" class="img-fluid" src="../assets/misc/liangpi.jpg" />
            </div>
                <div>
                  <p class="card-text">
                    <a href="https://en.wikipedia.org/wiki/Liangpi" target="_blank" rel="noopener noreferrer">凉皮 (Liangpi)</a>  
                  </p>
                </div>  
          </div>
      </div>
  </div>

  <div class="row mb-3 align-items-center">
    <div class="col-6 d-flex align-items-center">
        <div class="card-body">
          <div class="card-body">
            <img width="100%" height="auto" class="img-fluid" src="../assets/misc/chemian.jpg" />
          </div>
              <div>
                  <p class="card-text">
                    <a href="https://en.wikipedia.org/wiki/Biangbiang_noodles" target="_blank" rel="noopener noreferrer">Biangbiang noodles</a>  
                  </p>
              </div>  
        </div>
    </div>
    <div class="col-6 d-flex align-items-center">
        <div class="card-body">
          <div class="card-body">
            <img width="100%" height="auto" class="img-fluid" src="../assets/misc/ziranniurou.jpg" />
          </div>
              <div>
                  <p class="card-text">
                      西安孜然牛肉 (Xi'an Cumin Beef) features tender pieces of beef that are marinated and stir-fried with a generous amount of cumin seeds, chili peppers, and bean sprouts.
                  </p>
              </div>  
        </div>
    </div>
</div>

</div>