<link rel="stylesheet" href="bootstrap-grid.css">

<div class="m-3 mt-5">

    <!-- Remote Projects -->


    <!-- Local Projects -->
    <div class="row mb-3 align-items-center">
        <div class="col-3">
            <div class="card-body">
                <video height="100%" width="auto" autoplay loop class="img-fluid">
                    <source src="assets/research/acc24_demo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-9">
            <div class="card-body">
                <p class="card-text">
                <h5 id="active-perception-using-neural-radiance-fields-name" class="card-title">
                    <a href="https://arxiv.org/abs/2310.09892" target="_blank" rel="noopener noreferrer">
                        Active Perception using Neural Radiance Fields
                    </a>
                </h5>
                Siming He, Christopher D. Hsu, Dexter Ong, Yifei Simon Shao, Pratik Chaudhari
                <br>
                American Control Converence (ACC), 2024
                <br>
                <a href="https://arxiv.org/abs/2310.09892" target="_blank" rel="noopener noreferrer">
                    Arxiv
                </a>
                <a href="https://github.com/grasp-lyrl/Active-Perception-using-Neural-Radiance-Fields" target="_blank"
                    rel="noopener noreferrer">
                    Code
                </a>
                </p>
            </div>

        </div>
    </div>

    <div class="row mb-3 align-items-center">
        <div class="col-3">
            <div class="card-body">
                <video height="100%" width="auto" autoplay loop class="img-fluid">
                    <source src="assets/research/acc24_demo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-9">
            <div class="card-body">
                <p class="card-text">
                <h5 id="active-perception-using-neural-radiance-fields-name" class="card-title">
                    <a href="https://arxiv.org/abs/2310.09892" target="_blank" rel="noopener noreferrer">
                        Active Perception using Neural Radiance Fields
                    </a>
                </h5>
                Siming He, Christopher D. Hsu, Dexter Ong, Yifei Simon Shao, Pratik Chaudhari
                <br>
                American Control Converence (ACC), 2024
                <br>
                <a href="https://arxiv.org/abs/2310.09892" target="_blank" rel="noopener noreferrer">
                    Arxiv
                </a>
                <a href="https://github.com/grasp-lyrl/Active-Perception-using-Neural-Radiance-Fields" target="_blank"
                    rel="noopener noreferrer">
                    Code
                </a>
                </p>
            </div>

        </div>
    </div>


</div>