<link rel="stylesheet" href="bootstrap-grid.css">

<div class="m-3 mt-5">

    <!-- Remote Projects -->


    <!-- Local Projects -->
    <div class="row mb-3 align-items-center">
      <div class="col-4 d-flex align-items-center">
          <div class="card-body">
              <video width="100%" height="auto" class="img-fluid" autoplay muted loop>
                  <source src="assets/research/nerf2gsnback.mp4" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
          </div>
      </div>
      <div class="col-8 text-center d-flex align-items-center">
          <div class="card-body">
              <div>
                  <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                     From NeRFs to Gaussian Splats, and Back
                  </h3>
                  <p class="card-text">
                      <i><small>Novel-view synthesis for robotics, 3D reconstruction</small></i>
                      <br>
                      <b>Siming He*</b>, Zach Osman*, Pratik Chaudhari
                      <br>
                      Embodied AI Workshop - CVPR 2024
                      <br>
                      <a href="https://arxiv.org/abs/2405.09717" target="_blank" rel="noopener noreferrer">
                          Arxiv
                      </a>
                      <a href="https://github.com/grasp-lyrl/NeRFtoGSandBack" target="_blank" rel="noopener noreferrer">
                          Code
                      </a>
                  </p>
              </div>
          </div>

      </div>
  </div>

    <div class="row mb-3 align-items-center">
        <div class="col-4 d-flex align-items-center">
            <div class="card-body">
                <video width="100%" height="auto" class="img-fluid" autoplay muted loop>
                    <source src="assets/research/perception_game24.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-8 text-center d-flex align-items-center">
            <div class="card-body">
                <div>
                    <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                        An Active Perception Game for Robust Autonomous Exploration
                    </h3>
                    <p class="card-text">
                        <i><small>Algorithmic Game Theory; Information Theory; Performance Guarantee</small></i>
                        <br>
                        <b>Siming He</b>, Yuezhan Tao, Igor Spasojevic, Vijay Kumar, Pratik Chaudhari
                        <br>
                        arXiv preprint arXiv:2404.00769, 2024
                        <br>
                        <a href="https://arxiv.org/abs/2404.00769" target="_blank" rel="noopener noreferrer">
                            Arxiv
                        </a>
                        <a href="https://www.youtube.com/watch?v=p7Elon583q4" target="_blank" rel="noopener noreferrer">
                            Video
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3 align-items-center">
        <div class="col-4 d-flex align-items-center">
            <div class="card-body">
                <video width="100%" height="auto" class="img-fluid" autoplay muted loop>
                    <source src="assets/research/acc24_demo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-8 text-center d-flex align-items-center">
            <div class="card-body">
                <div>
                    <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                        Active Perception using Neural Radiance Fields
                    </h3>
                    <p class="card-text">
                        <i><small>Information Theory; Semantic NeRF</small></i>
                        <br>
                        <b>Siming He</b>, Christopher D. Hsu*, Dexter Ong*, Yifei Simon Shao, Pratik Chaudhari
                        <br>
                        American Control Converence (ACC), 2024
                        <br>
                        <a href="https://arxiv.org/abs/2310.09892" target="_blank" rel="noopener noreferrer">
                            Arxiv
                        </a>
                        <a href="https://github.com/grasp-lyrl/Active-Perception-using-Neural-Radiance-Fields"
                            target="_blank" rel="noopener noreferrer">
                            Code
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="row mb-3 align-items-center">
        <div class="col-4 d-flex align-items-center">
            <div class="card-body">
                <video width="100%" height="auto" class="img-fluid" autoplay muted loop>
                    <source src="assets/research/wormpicker.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-8 text-center d-flex align-items-center">
            <div class="card-body">
                <div>
                    <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                        A robotic system for automated genetic manipulation and analysis of Caenorhabditis elegans
                    </h3>
                    <p class="card-text">
                        <i><small>Autonomous Robot; Imaging System</small></i>
                        <br>
                        Zihao Li, Anthony D Fouad, Peter D Bowlin, Yuying Fan, <b>Siming He</b>, Meng-Chuan Chang,
                        Angelica Du, Christopher Teng, Alexander Kassouni, Hongfei Ji, David M Raizen, Christopher
                        Fang-Yen
                        <br>
                        Proceedings of the National Academy of Sciences (PNAS) Nexus, 2023
                        <br>
                        <a href="https://doi.org/10.1093/pnasnexus/pgad197" target="_blank" rel="noopener noreferrer">
                            Article
                        </a>
                        <a href="https://github.com/Zihao-celegans/WormPickerControl" target="_blank"
                            rel="noopener noreferrer">
                            Code
                        </a>
                        <a href="https://www.youtube.com/watch?v=FbnvfXgxHeg" target="_blank" rel="noopener noreferrer">
                            TPV Video
                        </a>
                        <a href="https://www.youtube.com/watch?v=57uVFsbDY58" target="_blank" rel="noopener noreferrer">
                            FPV Video
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3 align-items-center">
        <div class="col-4 d-flex align-items-center">
            <div class="card-body">
                <img width="100%" height="auto" class="img-fluid" src="assets/research/KDD21.jpg" />
            </div>
        </div>
        <div class="col-8 text-center d-flex align-items-center">
            <div class="card-body">
                <div>
                    <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                        Are we really making much progress? revisiting, benchmarking and refining heterogeneous graph
                        neural networks
                    </h3>
                    <p class="card-text">
                        <i><small>GNN</small></i>
                        <br>
                        Qingsong Lv, Ming Ding, Qiang Liu, Yuxiang Chen, Wenzheng Feng, <b>Siming He</b>, Chang Zhou,
                        Jianguo Jiang, Yuxiao Dong, Jie Tang
                        <br>
                        Proceedings of the 27th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 2021
                        <br>
                        <a href="https://arxiv.org/abs/2112.14936" target="_blank" rel="noopener noreferrer">
                            Arxiv
                        </a>
                        <a href="https://github.com/THUDM/HGB" target="_blank" rel="noopener noreferrer">
                            Code
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>