<link rel="stylesheet" href="bootstrap-grid.css">

<div class="m-3 mt-5">

    <!-- Remote Projects -->


    <!-- Local Projects -->
    <div class="row mb-3 align-items-center">
        <div class="col-4 d-flex align-items-center">
            <div class="card-body">
                <img width="100%" height="auto" class="img-fluid" src="assets/teaching/penn_cda.png" />
            </div>
        </div>
        <div class="col-8 text-center d-flex align-items-center">
            <div class="card-body">
                <div>
                    <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                      Course Development Assistant
                    </h3>
                    <p class="card-text">
                      <i>Penn Engineering (March 2024 - Current)</i>
                      <br>
                      I assisted the development of the course 
                      "Mathematical Foundations for Machine Learning" by Dr. Santosh Venkatesh for
                      <a href="https://online.seas.upenn.edu/degrees/mse-ai-online/" target="_blank" rel="noopener noreferrer">
                        Online Master of Science in Engineering in Artificial Intelligence
                      </a>. My role including designing the syllabus and organize weekly contents and developing homework problems.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-4 d-flex align-items-center">
          <div class="card-body">
              <img width="100%" height="auto" class="img-fluid" src="assets/teaching/TA.JPG" />
          </div>
      </div>
      <div class="col-8 text-center d-flex align-items-center">
          <div class="card-body">
              <div>
                  <h3 class="card-title" style="margin-top: 0 !important; margin-bottom: 5px;">
                    Teaching Assistant of Graduate-level Courses
                  </h3>
                  <p class="card-text">
                    <i>Penn Engineering (September 2022 - Current)</i>
                    <br>
                    <ul>
                     
                      <li><a href="https://alliance.seas.upenn.edu/~cis520/wiki/" target="_blank" rel="noopener noreferrer">
                        CIS 5200 Machine Learning 2022 Fall by Dr. Lyle Ungar
                      </a>. 
                      <p>
                      <i>To promote a deeper understanding of abstract and complex concepts</i>,
                      I created a 34-page material and conducted 12 recitations on machine learning topics.
                      I developed concrete and detailed examples in the material.
                      For instance, I presented mutual information in the context of active perception problems, 
                      provided a step-by-step walkthrough of CNN computation, 
                      and explained the latent Dirichlet allocation model through World Cup 'news' generation.
                    </p>
                    <p>
                      <i>To maximize students' overall learning outcomese</i>, I collected their feedback and questions through weekly online surveys and addressed their questions during recitations.
                    </p>
                    <p>
                      In the final evaluation, 18 out of 22 students rated my recitations as 'awesome/good.' 
                      Students' comments included: 'Clear and explicit, with detailed examples,' 'TA is always well-prepared, good timing,' and 'He reviews all the questions! Great TA.'
                    </p>  
                    </li>
                      <li><a href="https://pratikac.github.io/pub/23_ese546.pdf" target="_blank" rel="noopener noreferrer">
                        ESE 5460 Principles of Deep Learning 2023 Fall by Dr. Pratik Chaudhari
                      </a>.
                      <p>
                        I conducted an AWS tutorial to help students launch and use their GPU instances. 
                        Additionally, I created and led a recitation on information theory, covering the basics of information theory and the information bottleneck principle in deep learning.
                      </p>  
                    </li>
                      <li><a href="https://nikolaimatni.github.io/courses/ese6050-spring2024/index.html" target="_blank" rel="noopener noreferrer">
                        ESE 6050 Convex Optimization 2024 Spring by Dr. Nikolai Matni
                      </a>.
                     
                    </li>
                      <li><a href="/assets/teaching/ese5300.pdf" target="_blank" rel="noopener noreferrer">
                        ESE 5300 Probability Theory 2024 Fall by Dr. Santosh Venkatesh
                      </a>.
                    </li>
                    </ul>
                  </p>
              </div>
          </div>

      </div>
    </div>


</div>